html {
    background-color: #000000;
}

header {
    background-color: #ffffff;
    color: #007d7b;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: capitalize;
    font-weight: bold;
}

h2 {
    text-transform: capitalize;
}

nav {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

section.about {
    background-color: #ffffff;
    color: #000000;
}