/* Body CSS */

body {
    background-color: #000000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    color: #007d7b;
}

h1 {
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
}

/* Navigation & Links */

nav {
    max-width: 100%;
    min-width: 0;
}

nav ul {
    box-sizing: content-box;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-end;
}

nav li {
    text-transform: uppercase;
    list-style-type: none;
}

nav a {
    margin: 10px;
    padding: 0 5px;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    background-color: #007d7b;
}

nav a:focus {
    text-decoration: underline;
}

/* About */

section.about {
    background-color: #ffffff;
    color: #000000;
    display: grid;
    padding: 10px 10px 0px 10px;
}

/* Photo Gallery */

section.photos {
    background-color: #ffffff;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
}

section.photos img {
    position: relative;
    z-index: 0;
    max-width: 100%;
    max-height: 100%;
}

section.photos figure {
    position: relative;
}

section.photos figcaption {
    font-weight: bolder;
    text-transform: uppercase;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Contact Me Form */

section.contact {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 10px;
    justify-items: center;
}

section.contact form{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    box-sizing: border-box;
}

section.contact label{
    display: block;
    margin-left: 10%;
    width: 70%;
    margin-right: 20%;
    padding: 10px 10px 2px 10px;
    text-transform: uppercase;
    font-weight: bold;
}


section.contact input{
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    box-sizing: border-box;
    color: #007d7b;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    width: 80%;
}

section.contact input[type=text]:focus {
    border: 2px solid #000000;
  }

section.contact button {
    justify-items: center;
    background-color: #007d7b;
    color: #ffffff;
    padding: 3px 60px;
    margin-top: 20px;
    border-radius: 25px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    cursor: pointer;
}

section.contact button:focus {
    border: 2px solid #ffffff;
}

/* Footer */

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}

/* Font Sizes */

p {font-size: 1.25em;}
figcaption, label, input, small {font-size: 1em;}
nav a {font-size: 1.5em;}
h1 {font-size: 3em;}
h2 {font-size: 2em;}

/* Breakpoints */

/* Tablet View */

@media screen and (max-width: 880px) {

    body {
        max-width: 880px;
        margin: 0 auto;
    }

    nav ul {
        box-sizing: content-box;
        gap: 5px;
        justify-content: center;
    }

    section.photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

/* Phone View */

@media screen and (max-width: 485px) {

    body {
        max-width: 485px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    nav ul {
        box-sizing: content-box;
        gap: 5px;
        justify-content: center;
    }

    section.photos {
        display: grid;
        grid-template-columns: 1fr;
    }    

}